
## teams
[teamsNetwork020]
s999ld2wsdv20.teams.gfdi.be

[teamsNetwork040]
s999ld2wsdv40.teams.gfdi.be base_node_name=teamsNetwork040

[teamsNetwork044]
s999ld2wsdv44.teams.gfdi.be

[teamsNetwork054]
s999ld2wsdv54.teams.gfdi.be

[teamsBCM040]
s999ld2bcm01.teams.gfdi.be

[teamsNetwork060]
s999ld2wsdv60.teams.gfdi.be

[teamsNetwork064]
s999ld2wsdv64.teams.gfdi.be

[teamsNetwork090]
s999ld2wsdv90.teams.gfdi.be

## BeagleNetwork P8
## 200
[BeagleNode_DARWIN_200A_EB]
s598lb2wseb01.beagle.cpc998.be base_node_name=BeagleNode_DARWIN_200A_EB

[BeagleNode_DARWIN_200A_RFND]
s598lb2wsrf01.beagle.cpc998.be base_node_name=BeagleNode_DARWIN_200A_RFND

[BeagleNode_DARWIN_200A_FLUX]
s598lb2wsfl01.beagle.cpc998.be base_node_name=BeagleNode_DARWIN_200A_FLUX
## 500
[BeagleNode_DARWIN_500A_EB]
s598lb2wseb01.beagle.cpc998.be base_node_name=BeagleNode_DARWIN_200A_EB
##

## PreProdNetwork P8
[PreProdNode_ARCTICGFDI_200fA_RFND]
s200lq2wsrf01.jablux.gfdi.be base_node_name=PreProdNode_ARCTICGFDI_200fA_RFND

[PreProdNode_FROZENGFDI_500fA_RFND]
s509lq2wsrf14.jablux.gfdi.be base_node_name=PreProdNode_FROZENGFDI_500fA_RFND

[PreProdNode_OZONEGFDI_500fA_RFND]
s509lq2wsrf15.jablux.gfdi.be base_node_name=PreProdNode_OZONEGFDI_500fA_RFND

[PreProdNode_GFDI_20A_RFND]
s999lq2wsrf01.jablux.gfdi.be

[PreProdNode_GFDI_30A_RFND]
s999lq2wsrf07.jablux.gfdi.be

[PreProdNode_GFDI_30B_RFND]
s999lq2wsrf08.jablux.gfdi.be

[PreProdNode_BETA_500A_RFND]
s999lq2wsrf05.jablux.gfdi.be

[PreProdNode_TEST_500A_RFND]
s999lq2wsrf02.jablux.gfdi.be

[PreProdNode_TEST_500A_FLUX]
s999lq2wsfl07.jablux.gfdi.be

[PreProdNode_TEST_500B_FLUX]
s999lq2wsfl08.jablux.gfdi.be

[PreProdNode_TEST_500A_EB]
s999lq2wseb01.jablux.gfdi.be

##

## IntegNetwork
[IntegNode_200A_RFND]
s298li2wsrf01.integ.gfdi.be

[IntegNode_200B_RFND]
s298li2wsrf02.integ.gfdi.be

[IntegNode_200C_RFND]
s298li2wsrf03.integ.gfdi.be

[IntegNode_500A_RFND]
s598li2wsrf01.integ.gfdi.be

[IntegNode_500B_RFND]
s598li2wsrf02.integ.gfdi.be

[IntegNode_500B_RFND_BE]
s598li2wsrf04.integ.gfdi.be

[IntegNode_500C_RFND]
s598li2wsrf03.integ.gfdi.be

[IntegNode_500A_EB]
s598li2wseb01.integ.gfdi.be  base_node_name=IntegNode_500A_EB

[IntegNode_200A_EB]
s298li2wseb01.integ.gfdi.be base_node_name=IntegNode_200A_EB

[IntegNode_500A_FLUX]
s598li2wsfl01.integ.gfdi.be
##


## Ref P8
[RefNode_REF_500aA_RFND]
s598lr2wsrf01.ref.cpc998.be base_node_name=RefNode_REF_500aA_RFND

[RefNode_REF_500aB_RFND]
s598lr2wsrf02.ref.cpc998.be base_node_name=RefNode_REF_500aB_RFND

[RefNode_REF_500bC_RFND]
s598lr2wsrf03.ref.cpc998.be base_node_name=RefNode_REF_500bC_RFND

[RefNode_REF_500bD_RFND]
s598lr2wsrf04.ref.cpc998.be base_node_name=RefNode_REF_500bD_RFND

[RefNode_REF_500cE_RFND]
s598lr2wsrf05.ref.cpc998.be base_node_name=RefNode_REF_500cE_RFND

[RefNode_REF_500cF_RFND]
s598lr2wsrf06.ref.cpc998.be base_node_name=RefNode_REF_500cF_RFND

[RefNode_REF_500G_RFND]
s598lr2wsrf07.ref.cpc998.be base_node_name=RefNode_REF_500G_RFND

[RefNode_REF_500H_RFND]
s598lr2wsrf08.ref.cpc998.be base_node_name=RefNode_REF_500H_RFND

[RefNode_REF_500I_RFND]
s598lr2wsrf09.ref.cpc998.be base_node_name=RefNode_REF_500I_RFND

[RefNode_REF_500A_FLUX]
s598lr2wsfl01.ref.cpc998.be base_node_name=RefNode_REF_500A_FLUX

[RefNode_REF_500B_FLUX]
s598lr2wsfl02.ref.cpc998.be base_node_name=RefNode_REF_500B_FLUX

[RefNode_REF_500A_EB]
s598lr2wseb01.ref.cpc998.be base_node_name=RefNode_REF_500A_EB

[RefNode_REF_500B_EB]
s598lr2wseb02.ref.cpc998.be base_node_name=RefNode_REF_500B_EB

[RefNode_REF_200aA_RFND]
s298lr2wsrf01.ref.cpc998.be base_node_name=RefNode_REF_200aA_RFND

[RefNode_REF_200aB_RFND]
s298lr2wsrf02.ref.cpc998.be base_node_name=RefNode_REF_200aB_RFND

[RefNode_REF_200bC_RFND]
s298lr2wsrf03.ref.cpc998.be base_node_name=RefNode_REF_200bC_RFND

[RefNode_REF_200bD_RFND]
s298lr2wsrf04.ref.cpc998.be base_node_name=RefNode_REF_200bD_RFND

[RefNode_REF_200E_RFND]
s298lr2wsrf05.ref.cpc998.be base_node_name=RefNode_REF_200E_RFND

[RefNode_REF_200F_RFND]
s298lr2wsrf06.ref.cpc998.be base_node_name=RefNode_REF_200F_RFND

[RefNode_REF_200G_RFND]
s298lr2wsrf07.ref.cpc998.be base_node_name=RefNode_REF_200G_RFND

[RefNode_REF_200A_FLUX]
s298lr2wsfl01.ref.cpc998.be base_node_name=RefNode_REF_200A_FLUX

[RefNode_REF_200A_EB]
s298lr2wseb01.ref.cpc998.be base_node_name=RefNode_REF_200A_EB

[RefNode_REF_200B_EB]
s298lr2wseb02.ref.cpc998.be base_node_name=RefNode_REF_200B_EB

[refBCM01]
s998lr2bcm01.ref.cpc998.be

[refBCM02]
s998lr2bcm02.ref.cpc998.be


[refBCM01_200]
s298lr2bcm01.ref.cpc998.be
##
##
[integBCM01]
s998li2bcm01.integ.gfdi.be


[integBCM02]
s998li2bcm02.integ.gfdi.be


[integBCM01_200]
s298li2bcm01.integ.gfdi.be


[integGOK20]
s535li2tcat01.integ.gfdi.be

[integEZ]
s535li2tcat02.integ.gfdi.be

[refGOK20]
s535lr2tcat01.ref.cpc998.be

[refEZ]
s535lr2tcat02.ref.cpc998.be

[darGOK20]
s535lb2tcat01.beagle.cpc998.be

[BeagleBCM01]
s598lb2bcm01.beagle.cpc998.be

## Prod P8
[ProdNode_AIRBUS_500aA_RFND]
s598lp1wsrf01.jablux.cpc998.be dc=1
s598lp2wsrf01.jablux.cpc998.be dc=2

[ProdNode_AIRBUS_500aB_RFND]
s598lp1wsrf02.jablux.cpc998.be dc=1
s598lp2wsrf02.jablux.cpc998.be dc=2

[ProdNode_AIRBUS_500bC_RFND]
s598lp1wsrf03.jablux.cpc998.be dc=1
s598lp2wsrf03.jablux.cpc998.be dc=2

[ProdNode_AIRBUS_500bD_RFND]
s598lp1wsrf04.jablux.cpc998.be dc=1
s598lp2wsrf04.jablux.cpc998.be dc=2

[ProdNode_AIRBUS_500cE_RFND]
s598lp1wsrf05.jablux.cpc998.be dc=1
s598lp2wsrf05.jablux.cpc998.be dc=2

[ProdNode_AIRBUS_500cF_RFND]
s598lp1wsrf06.jablux.cpc998.be dc=1
s598lp2wsrf06.jablux.cpc998.be dc=2

[ProdNode_AIRBUS_500G_RFND]
s598lp1wsrf07.jablux.cpc998.be dc=1
s598lp2wsrf07.jablux.cpc998.be dc=2

[ProdNode_AIRBUS_500H_RFND]
s598lp1wsrf08.jablux.cpc998.be dc=1
s598lp2wsrf08.jablux.cpc998.be dc=2

[ProdNode_AIRBUS_500I_RFND]
s598lp1wsrf09.jablux.cpc998.be dc=1
s598lp2wsrf09.jablux.cpc998.be dc=2

[ProdNode_AIRBUS_566A_RFND]
s998lp1wsrf01.jablux.cpc998.be dc=1
s998lp2wsrf01.jablux.cpc998.be dc=2

[ProdNode_AIRBUS_500A_FLUX]
s598lp1wsfl01.jablux.cpc998.be dc=1 primary=s000lp1dbfl01.jablux.cpc998.be standby=s000lp1dbfl02.jablux.cpc998.be primary2=s000lp2dbfl01.jablux.cpc998.be standby2=s000lp2dbfl02.jablux.cpc998.be
s598lp2wsfl01.jablux.cpc998.be dc=2 primary=s000lp2dbfl01.jablux.cpc998.be standby=s000lp2dbfl02.jablux.cpc998.be primary2=s000lp1dbfl01.jablux.cpc998.be standby2=s000lp1dbfl02.jablux.cpc998.be

[ProdNode_AIRBUS_500B_FLUX]
s598lp1wsfl02.jablux.cpc998.be dc=1 primary=s000lp1dbfl01.jablux.cpc998.be standby=s000lp1dbfl02.jablux.cpc998.be primary2=s000lp2dbfl01.jablux.cpc998.be standby2=s000lp2dbfl02.jablux.cpc998.be
s598lp2wsfl02.jablux.cpc998.be dc=2 primary=s000lp2dbfl01.jablux.cpc998.be standby=s000lp2dbfl02.jablux.cpc998.be primary2=s000lp1dbfl01.jablux.cpc998.be standby2=s000lp1dbfl02.jablux.cpc998.be

[ProdNode_AIRBUS_500A_EB]
s598lp1wseb01.jablux.cpc998.be dc=1 base_node_name=ProdNode_AIRBUS_500A_EB
s598lp2wseb01.jablux.cpc998.be dc=2 base_node_name=ProdNode_AIRBUS_500A_EB

[ProdNode_AIRBUS_500B_EB]
s598lp1wseb02.jablux.cpc998.be dc=1 base_node_name=ProdNode_AIRBUS_500B_EB
s598lp2wseb02.jablux.cpc998.be dc=2 base_node_name=ProdNode_AIRBUS_500B_EB

[ProdNode_AIRBUS_200aA_RFND]
s298lp1wsrf01.jablux.cpc998.be dc=1 
s298lp2wsrf01.jablux.cpc998.be dc=2

[ProdNode_AIRBUS_200aB_RFND]
s298lp1wsrf02.jablux.cpc998.be dc=1
s298lp2wsrf02.jablux.cpc998.be dc=2

[ProdNode_AIRBUS_200bC_RFND]
s298lp1wsrf03.jablux.cpc998.be dc=1
s298lp2wsrf03.jablux.cpc998.be dc=2

[ProdNode_AIRBUS_200bD_RFND]
s298lp1wsrf04.jablux.cpc998.be dc=1
s298lp2wsrf04.jablux.cpc998.be dc=2

[ProdNode_AIRBUS_200E_RFND]
s298lp1wsrf05.jablux.cpc998.be dc=1
s298lp2wsrf05.jablux.cpc998.be dc=2

[ProdNode_AIRBUS_200F_RFND]
s298lp1wsrf06.jablux.cpc998.be dc=1
s298lp2wsrf06.jablux.cpc998.be dc=2

[ProdNode_AIRBUS_200G_RFND]
s298lp1wsrf07.jablux.cpc998.be dc=1
s298lp2wsrf07.jablux.cpc998.be dc=2

[ProdNode_AIRBUS_200A_FLUX]
s298lp1wsfl01.jablux.cpc998.be dc=1 primary=s000lp1dbfl01.jablux.cpc998.be standby=s000lp1dbfl02.jablux.cpc998.be primary2=s000lp2dbfl01.jablux.cpc998.be standby2=s000lp2dbfl02.jablux.cpc998.be
s298lp2wsfl01.jablux.cpc998.be dc=2 primary=s000lp2dbfl01.jablux.cpc998.be standby=s000lp2dbfl02.jablux.cpc998.be primary2=s000lp1dbfl01.jablux.cpc998.be standby2=s000lp1dbfl02.jablux.cpc998.be

[ProdNode_AIRBUS_200B_FLUX]
s298lp1wsfl02.jablux.cpc998.be dc=1 primary=s000lp1dbfl01.jablux.cpc998.be standby=s000lp1dbfl02.jablux.cpc998.be primary2=s000lp2dbfl01.jablux.cpc998.be standby2=s000lp2dbfl02.jablux.cpc998.be
s298lp2wsfl02.jablux.cpc998.be dc=2 primary=s000lp2dbfl01.jablux.cpc998.be standby=s000lp2dbfl02.jablux.cpc998.be primary2=s000lp1dbfl01.jablux.cpc998.be standby2=s000lp1dbfl02.jablux.cpc998.be

[ProdNode_AIRBUS_200A_EB]
s298lp1wseb01.jablux.cpc998.be dc=1 base_node_name=ProdNode_AIRBUS_200A_EB
s298lp2wseb01.jablux.cpc998.be dc=2 base_node_name=ProdNode_AIRBUS_200A_EB

[ProdNode_AIRBUS_200B_EB]
s298lp1wseb02.jablux.cpc998.be dc=1 base_node_name=ProdNode_AIRBUS_200B_EB
s298lp2wseb02.jablux.cpc998.be dc=2 base_node_name=ProdNode_AIRBUS_200B_EB
##
[prodBCM01]
s998lp1bcm01.jablux.cpc998.be

[pdrpBCM01]
s998lp2bcm01.jablux.cpc998.be

[prodBCM01_200]
s298lp1bcm01.jablux.cpc998.be

[pdrpBCM01_200]
s298lp2bcm01.jablux.cpc998.be

##
[prodGOK20_01]
s535lp1tcat01.jablux.cpc998.be
[prodGOK20_02]
s535lp1tcat02.jablux.cpc998.be
[prodGOK20_03]
s535lp1tcat03.jablux.cpc998.be

[pdrpGOK20]
s535lp2tcat01.jablux.cpc998.be
s535lp2tcat02.jablux.cpc998.be
s535lp2tcat03.jablux.cpc998.be

##
[prodEZ]
s535lp1tcat04.jablux.cpc998.be
s535lp2tcat04.jablux.cpc998.be

## OPEN DJ - Flashcopy config - 2xx & 5xx
[opdj_hosts:children]
IntegNode_opdj
RefNode_opdj

[IntegNode_opdj] 
s000li2opdj03.integ.gfdi.be
s000li2opdj01.integ.gfdi.be

[RefNode_opdj]
s000lr2opdj03.ref.cpc998.be
s000lr2opdj01.ref.cpc998.be

[tomcat-servers:children]
integGOK20

[was-dmgrs]
s998li2wsxx01.integ.gfdi.be
s998lr2wsxx01.ref.cpc998.be

[iib-servers]
s298li2iib03.integ.gfdi.be
